<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Gods of Plastic</title>

	<link rel="stylesheet" href="../assets/main.css">
	<link rel="stylesheet" href="../assets/header-search.css">
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


</head>

<body>

<header class="header-search">

	<div class="header-limiter">

		<h1><a href="https://apps.carleton.edu/student/orgs/gop/">Hibiscus</a></h1>

		<nav>
			<a href="#">Home</a>
			<a href="#">Workouts</a>
			<a href="#">Film</a>
			<a href="#">Personal</a>
                        <a href="#">Logout</a>
		</nav>

		<form method="get" action="#">
			<input type="search" placeholder="Search!" name="search">
		</form>

	</div>

</header>

<div class="menu">
    <p>Page content</p>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

	$(document).ready(function() {

		$('.header-search form').on('click', function(e) {

			// If the form (which is turned into the search button) was
			// clicked directly, toggle the visibility of the search box.

			if(e.target == this) {
				$(this).find('input').toggle();
			}

		});
	});

</script>

</body>

</html>
