<header class="header-user-dropdown">

	<div class="header-limiter">
		<h1><a href="https://apps.carleton.edu/student/orgs/gop/">Hibiscus</a></h1>

		<nav>
			<a href="http://goppyworky.2kool4u.net/">Home</a>
			<a href="http://goppyworky.2kool4u.net/workout/">Workouts</a>
			<a href="http://goppyworky.2kool4u.net/film/">Film</a>
			<a href="http://goppyworky.2kool4u.net/personal/">Personal <span class="header-new-feature">chungus</span></a>
		</nav>


		<div class="header-user-menu">
			<img src="<?php $_SERVER['DOCUMENT_ROOT'] ?>/assets/unknown_user.jpg" alt="User Image"/>

			<ul>
				<li><a href="http://goppyworky.2kool4u.net/settings">Settings</a></li>
				<li><a href="#">Payments</a></li>
				<li><a href="#" class="highlight">Logout</a></li>
			</ul>
		</div>

	</div>

</header>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

	$(document).ready(function(){

		var userMenu = $('.header-user-dropdown .header-user-menu');

		userMenu.on('touchend', function(e){

			userMenu.addClass('show');

			e.preventDefault();
			e.stopPropagation();

		});

		// This code makes the user dropdown work on mobile devices

		$(document).on('touchend', function(e){

			// If the page is touched anywhere outside the user menu, close it
			userMenu.removeClass('show');

		});

	});

</script>